<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Touch Rugby Admin</a>
        <ul id="nav-mobile" class="right">
          <% if (user) { %>
            <li><a href="/admin/main">Add Club</a></li>
            <li><a href="/admin/clubs">View Clubs</a></li>
            <li><a href="/admin/sign_out">Log out</a></li>
          <% } %>
        </ul>
      </div>
    </nav>
    <div class="container">
      <h3>Listing of clubs</h3>
        <% if (!clubs || clubs.length <= 0) { %>
          <p> You have no clubs saved, please add one by using the <a href="/admin/main">form</a></p>
        <% } else { %>
          <table class="table striped highight">
          <thead>
            <tr>
              <th>Club Name</th>
              <th>Bio</th>
              <th>Longtitude</th>
              <th>Latitude</th>
              <th>Icon Color</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i < clubs.length; i++) {%>
              <tr>
                <td><%=clubs[i].clubName %></td>
                <td><%= clubs[i].bio %></td>
                <td><%=clubs[i].longtitude %></td>
                <td><%=clubs[i].latitude %></td>
                <td><%=clubs[i].iconColor %></td>
                <td><a id="removeClub" href="/admin/removeClub/<%= clubs[i].id %>">X</a>
                    <a id="editClub" href="/admin/editClub/<%= clubs[i].id %>">edit</a>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
        <% } %>
    </div>
    <script>
    $(function() {
      $("#removeClub").on("click",function(e) {
        e.preventDefault(); // cancel the link itself
        $.post(this.href);
        window.location.href = "/admin/main";
      });
   });
</script>
  </body>
</html>
